<div class="center-div center-text login-div base-colors">

    <div class="center-text">
        <span class="logo glyphicon glyphicon-home"></span>
    </div>

    <hr class="login-hr">

    <label>Brugernavn</label>
    <input class="input" type="text" [(ngModel)]="username" />

    <label>Password</label>
    <input class="input" type="password" [(ngModel)]="password" />

    <div class="flex-container">
        <button class="form-btn register-btn btn-colors" (click)="register()">Register</button>
        <span style="width: 10px;"></span>
        <button class="form-btn login-btn btn-colors" (click)="login()">Login</button>
    </div>
</div>